---
import favIcon from '../../../images/favicon-16.png';
import { bundesligaTableService } from '../../services/bundesliga-table.service';
import { BundesligaTable } from '../../models/bundesliga-table';
import { BASE_PATH_WITHOUT_DOMAIN } from '../../../base-path.mjs';
import { COMPETITIONS } from '../../models/competition';
import CompetitionSwitcher from '../../components/competition-switcher.astro';
import '../../components/bundesliga-table.page.ts';
import '../../styles/page.css';
import { BundesligaTablePage } from '../../components/bundesliga-table.page.ts';

const competition = COMPETITIONS.bundesliga;
const bundesligaTable: BundesligaTable = await bundesligaTableService.getData(competition.competitionId);
const props: Record<string, string> = {
  'server-json-data': JSON.stringify(bundesligaTable),
  'team-base-path': `${BASE_PATH_WITHOUT_DOMAIN}/bundesliga/team`
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href={favIcon} />
    <link rel="preload" as="font" href={`${BASE_PATH_WITHOUT_DOMAIN}/fonts/roboto-condensed-v24-latin-700.woff2`} />
    <link rel="preload" as="font" href={`${BASE_PATH_WITHOUT_DOMAIN}/fonts/roboto-condensed-v24-latin-regular.woff2`} />
    <title>{competition.label} Tabelle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={`kickbase-bundesliga ${competition.label} Tabelle`} />
  </head>
  <body style="background-color: #e8edf1;  padding: 1rem;">
    <CompetitionSwitcher currentSlug="bundesliga" section="table" />
    <BundesligaTablePage {...props} client:idle />
  </body>
</html>
